body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.move-icon {
  height: 30px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}

.score {
  margin-top: 15px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}
